<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://imgs.search.brave.com/RBOR0btDYjKZ2N3OAh8olCaKz8DPkk59LDPnxfcZhMU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/bWFnbmlmaWMuY29t/L3ByZW1pdW0tcGhv/dG8vc2hvcHBpbmct/ZW50ZXJ0YWlubWVu/dC1tYWxsLWluc2lk/ZS10d28tYmVhdXRp/ZnVsLWdpcmxzLXdp/dGgtcGFwZXItYmFn/cy1tYWxsLWpveS1j/b25zdW1wdGlvbi1n/aWZ0LXNob3BwaW5n/LWhvbGlkYXlfMTAw/ODk0LTEwMTAuanBn/P3NlbXQ9YWlzX2h5/YnJpZCZ3PTc0MCZx/PTgw"
        class="d-block w-100" alt="img 1">

      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Ecommerce Site</h5>
        <p>Shopping Made Easy and Convenient</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://as2.ftcdn.net/v2/jpg/04/96/82/09/1000_F_496820978_gDTBL0nskYtxg7vs5LsGBPoGHFiNTbOY.jpg"
        class="d-block w-100" alt="img 2">

      <div class="carousel-caption d-none d-md-block">
        <h5>Shop from Anywhere</h5>
        <p>No Need to Carry Heavy Bags, We Deliver to Your Doorstep</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://imgs.search.brave.com/uJ7Daq2TXyspPLU-Xyenz1z3eHC0x60DCFhcg_I81fI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNTIv/MDI3LzIzOC9zbWFs/bC93b21hbi11c2lu/Zy1sYXB0b3AtZm9y/LW9ubGluZS1zaG9w/cGluZy1hdC1ob21l/LWhhbmQtaG9sZGlu/Zy1tb2JpbGUtcGhv/bmUtd2l0aC1wYXlt/ZW50LWRldGFpbC1w/YWdlLWRpc3BsYXkt/YW5kLWNyZWRpdC1j/YXJkLXN0YXktaG9t/ZS10ZWNobm9sb2d5/LWVsZWN0cm9uaWMt/Y29tbWVyY2UtaW50/ZXJuZXQtbWFya2V0/LXBsYWNlLXBob3Rv/LmpwZw"
        class="d-block w-100" alt="img 3">

      <div class="carousel-caption d-none d-md-block">
        <h5>Fast & Secure Shopping</h5>
        <p>Discover Quality Products at Great Prices</p>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>