<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img
        src="https://imgs.search.brave.com/0H-KTBtDCHYOs_3I9jq2_0ugDfuB-L0RzCThNscCm44/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvcHJvZmVzc2lv/bmFsLWxvZ28tZGVz/aWduXzc0NTU5NS0z/MTYuanBnP3NlbXQ9/YWlzX2h5YnJpZCZ3/PTc0MA"
        alt="Logo"
        width="40"
        height="40"
        class="me-2">

      Ecommerce Site
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>

      </ul>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search">

        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>

    </div>

  </div>
</nav>