<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://imgs.search.brave.com/D660gvYHRYxsE6Ro6cmRt8Yh3HSbhHJMxFyYt7sJEOs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/bWFnbmlmaWMuY29t/L2ZyZWUtdmVjdG9y/L3JvdW5kLWdyYXkt/d2F0ZXJjb2xvci1i/YW5uZXItdmVjdG9y/XzUzODc2LTYxOTAy/LmpwZz9zZW10PWFp/c19oeWJyaWQmdz03/NDAmcT04MA"
           alt="Logo"
           width="40"
           height="40"
           class="me-2">
      Ecommerce Site
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Products</a>
        </li>
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>